
POSTGRES_DB=your_db
POSTGRES_URL=jdbc:postgresql://localhost:5432/your_db
DB_USERNAME=your_db_username
PASSWORD=your_db_password

ROOT_EMAIL=your_root_email
ROOT_PASSWORD=your_root_password
ROOT_NAME=your_root_name
ROOT_USERNAME=your_root_username

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION_MS=your_jwt_expiration
JWT_REFRESH_EXPIRATION_MS=your_jwt_refresh_expiration

JAVA_OPTS=-XX:InitialRAMPercentage=50.0 -XX:MaxRAMPercentage=75.0 -XX:+UseG1GC