
POSTGRES_URL=jdbc:postgresql://localhost:5432/your_db
DB_USERNAME=your_db_username
PASSWORD=your_db_password

SECURITY_SECRET=your_secret_code

ROOT_EMAIL=admin@example.com
ROOT_PASSWORD=your_root_password
ROOT_NAME=Your Name
ROOT_USERNAME=your_username